.hero {
  padding: var(--general-padding);

  img {
    border-radius: 0.2em;
  }

  &__Main_Heading {
    color: var(--color-black);
    font-size: var(--font-l);
    font-weight: 700;
    line-height: 1.1;
    margin-top: .5em;
  }

  em {
    font-family: "Uchen", serif;
  }

  p {
    padding: 0.2em 0;
    font-size: 1.3rem;
    line-height: 1.5;
  }

  &__Job {
    color: var(--color-primary-variant-3);
  }
}

.darkMode {
  .hero__Main_Heading {
    color: var(--color-secondary-variant-2);
  }

  em {

    color: var(--color-white);
  }

  p {
 color: var(--color-white-variant-1);
  }

  &__Job {
    color: var(--color-primary-variant-3);
  }
}
